#cekresi-header{
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom, #D9230F , rgb(255, 95, 95), white);
    margin: 0;
}

#cekresi-row{
    width: 50%;
    position: relative;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
}

.label-cekresi{
    font-weight: bold;
    font-size: 16pt;
    font-family: sans-serif;
    padding-right: 10px;
}